@charset 'UTF-8';
/** ---------------------------------------------------------
  * @ 파일 :style.css 
  * ---------------------------------------------------------
  */ 
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: url(../../fonts/Roboto-Thin.woff2) format('woff2'),
		url(../../fonts/Roboto-Thin.woff) format('woff'),
		url(../../fonts/Roboto-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url(../../fonts/Roboto-Light.woff2) format('woff2'),
		url(../../fonts/Roboto-Light.woff) format('woff'),
		url(../../fonts/Roboto-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/Roboto-Regular.woff2) format('woff2'),
		url(../../fonts/Roboto-Regular.woff) format('woff'),
		url(../../fonts/Roboto-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url(../../fonts/Roboto-Medium.woff2) format('woff2'),
		url(../../fonts/Roboto-Medium.woff) format('woff'),
		url(../../fonts/Roboto-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url(../../fonts/Roboto-Bold.woff2) format('woff2'),
		url(../../fonts/Roboto-Bold.woff) format('woff'),
		url(../../fonts/Roboto-Bold.otf) format('opentype');
}


/* reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,
table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {margin:0;padding:0;border:0; box-sizing:border-box;}
article,aside,details,dt,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block;}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline;}
blockquote,q {quotes:none;}
blockquote:after,blockquote:before,q:after,q:before {content:'';content:none;}
hr {display:block;}
ol,ul {list-style:none;}
table {border-spacing:0;border-collapse:collapse;}

abbr[title] {border-bottom:1px dotted;}
mark {background:#ff0;color:#000;}
sub,sup {position:relative;vertical-align:baseline;line-height:0;}
sup {top:-.5em;}
sub {bottom:-.25em;}
svg:not(:root) {overflow:hidden;}
pre,textarea {overflow:auto;}

/* --- 기본설정 --- */
* {box-sizing:border-box; -webkit-tap-highlight-color:rgba(0,0,0,0);}
::-webkit-input-placeholder {font-size:inherit; color:#888;}
::-moz-placeholder {font-size:inherit; opacity:1;}



html {font-size:10px; height:100%; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; scroll-behavior:smooth;}
body{font-size:1.4rem; height:100%; font-family:'Roboto'; font-weight:400; color:#222; }
strong {font-weight:800;}
em, b, i {font-style:normal;}
a {cursor:pointer; background-color:transparent; color:inherit;}
a,label,span {display:inline-block;}
a, a:hover {text-decoration:none;}
a,button,[role=button],[role=tab], main.ios {cursor:pointer;} 
mark {margin:0; padding:0; background-color:transparent;}
button, input {outline: none;}

/* --- 공통요소 --- */
.block {display:block!important;}  
.clearfix {*zoom:1;}
.clearfix:after,.clearfix:before {display:table; line-height:0; content:'';}
.clearfix:after {clear:both;}
.hidden {position:absolute; overflow:hidden; clip:rect(0,0,0,0); width:1px; height:1px; margin:-1px; padding:0; border:0;}
caption {overflow:hidden; clip:rect(0,0,0,0); width:1px; height:1px; margin:-1px; padding:0; border:0;}
 
button,html input[type=button],html input[type=reset],html input[type=submit] {cursor:pointer; -webkit-appearance:button; border-radius:0;}
button,input,optgroup,select,textarea {margin:0; font:inherit; color:inherit;}
button,select {text-transform:none;}
button[disabled],html input[disabled] {cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner {padding:0; border:0;}
input {line-height:normal;} 
 
input[type=checkbox],input[type=radio] {box-sizing:border-box; padding:0; vertical-align:middle;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {height:auto;}
input[type=search] {-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {-webkit-appearance:none;}
optgroup {font-weight:bold;}

label+input {margin-left:.4rem;}
button {margin:0; padding:0; cursor:pointer; border:0; background:0 0;}
input[type=checkout],input[type=radio] {margin-right:.4rem; padding:.5rem .5rem .3rem; border:0;}
input[type=search] {box-sizing:content-box;}
input[type=file],input[type=number],input[type=password],input[type=tel],input[type=text] { width:100%; height:3.4rem; border-radius:.4rem; margin:0; padding:0 1rem; border: solid 1px #d6d6e3; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04); }
input:focus {border: solid 1px #222}
select {font-size:1.6rem; font-weight:500; padding:.4rem 3.5rem .4rem 1.2rem; border:0; border-radius:.6rem; color:#fff; appearance:none; background: url('../images/arrow_down.png') no-repeat 100% 50%; outline:none;}
select::-ms-expand {display: none;} 
select[option] {color:#000;}
input[type=checkbox],
input[type=radio] {opacity:0;margin-left:0;position:absolute;/* z-index:-1 */}
input[type=radio] + label {display:inline-block; line-height:1rem; padding:0 1rem 0 1.5rem; cursor:pointer; position:relative; font-size:1.1rem;} 
input[type=radio] + label:after {content:''; display:inline-block; border-radius:2.4rem; width:1rem; height:1rem; position:absolute; top:0; left:0;  background: url('../images/icon_radio_off.png') no-repeat 50% 50%; background-size: 1rem auto; }
input[type=radio]:checked + label:after {background: url('../images/icon_radio_on.png') no-repeat 50% 50%; background-size: 1rem auto;}
input[type=radio]:checked:disabled + label:after,
input[type=radio]:disabled + label:after { background: url('../images/icon_radio_on.png') no-repeat 50% 50%; background-size: 1rem auto;} 

/* --- ui-selectmenu --- */
.ui-selectmenu-button.ui-button {text-align:left; width:auto; font-size:1.6rem; font-weight:500; color:#fff; border:0; padding:.6rem 1.5rem .4rem 1.2rem; background: url('../images/arrow_down.png') no-repeat 100% 50%;}
.ui-widget.ui-widget-content { border: solid 1px #d6d6e3; background:#fff; padding:0;}
.ui-selectmenu-menu .ui-menu {padding:.5rem; }
.ui-menu .ui-menu-item-wrapper { line-height:2rem; position:relative; padding:0 1rem; margin-top:0; font-size:1.4rem; border-bottom:0;}
.ui-widget-content .ui-state-active  {border:0; background:none; padding:0 1rem; margin-top:0; color:#333; border-bottom:0;}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {margin:0; border:0; } 
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {border:0; background: url('../images/arrow_down.png') no-repeat 100% 50%;}

/* --- layout --- */
header {position:fixed; top:0; left:0; width:100%; height:5.5rem; background: rgba(0, 0, 0, 0.3); width:100%; position: absolute; left: 0; top: 0; z-index: 2;}
header .inner-conts { position:fixed; top:0; bottom:0; right: -200%; left: auto; width: 80%; z-index:10; padding:0 3rem; background-color: #fff; } 
header h1 {position:absolute; left: 1.6rem; top:1.2rem; width:16rem; height:3rem; background:url('../images/logo.png') no-repeat 0 50%; background-size:15.1rem auto; text-indent:-999px; overflow:hidden; z-index:2;}
header .menu-btn {position:absolute; right: 1.6rem; top: 0; height:5.5rem; width:3.1rem; background:url('../images/btn_menu.png') no-repeat 0 50%; background-size:3.1rem auto; text-indent:-999px; overflow:hidden;}
header nav .depth01 > li > a { width:100%; height:5rem; line-height:5rem; font-size:1.6rem; font-weight:500; color: #191919; display:block; background:url('../images/arrow_down.png') no-repeat 100% 50%; background-size:1.1rem auto;}
header nav .depth01 > li > a.active  {background:url('../images/arrow_up.png') no-repeat 100% 50%; background-size:1.1rem auto;} 
header nav .depth02 {display:none; padding:.5rem 0;} 
header nav .depth02 li a {display:block; height: 3rem; line-height: 3rem; color:#767676;} 
header .btn-wrap {position:relative; margin-bottom:4rem; z-index:11; display:flex; justify-content:space-between; height: 6rem; align-items: center;}
header .btn-wrap .btn-search {width:4rem; height:4rem; padding-left:3rem; color:#767676; font-size:1.5rem; background:url('../images/icon_search.png') no-repeat 0 50%; background-size: 2.5rem auto;}
header .btn-wrap .btn-close {width:4rem; height:4rem; background:url('../images/icon_close2.png') no-repeat 100% 50%; background-size:2.1rem auto; text-indent:-999px; overflow:hidden;}
 
.search-wrap { position:fixed; top:0; bottom:0; right: -200%; left:auto; z-index:110; padding:0 1.5rem;width:80%; background-color: #fff;  } 
.search-wrap .text {height:13rem; background:url('../images/img_text.png') no-repeat 1.5rem 0; background-size:16.1rem auto; text-indent:-999px; overflow:hidden;}
.search-wrap .btn-close-search {position:absolute; right:1rem; top:1.8rem; width:4rem; height:4rem; background:url('../images/icon_close2.png') no-repeat 50% 50%; background-size:2.1rem auto; text-indent:-999px; overflow:hidden;}
.search-wrap .search-form {display:flex; justify-content:flex-start; height:4rem; margin: 2rem 1.5rem; width:100%;}
.search-wrap .search-form input {box-shadow:none; border:0; width:80%; font-size:1.5rem; height:4rem; padding:0 ; } 
.search-wrap .search-form button {flex:0 0 1; width:4rem; height:4rem; background:url('../images/icon_search.png') no-repeat 0 50%; background-size: 2.5rem auto; }
 
.search-wrap .tag-area .scroll { overflow-y: auto; overflow-x: none;} 
.search-wrap .tag-area .tag-wrap > button { height:2.5rem; padding:0 1.5rem; background:#e8e8e8; border-radius:2.4rem; font-size:1.2rem; margin:0 .1rem 1rem;} 

footer { text-align:center; background-color:#3c3c3c; padding:4rem; }  
footer strong {font-size:1.4rem; font-weight:400; color:#fff; display:block; margin-bottom:.8rem;}
footer p {justify-content: center; color:#fff; display:flex; margin-bottom:1.5rem;}
footer p em {font-size:2.2rem; line-height:100%; padding:.5rem .5rem 0 0;}
footer p strong {font-size:3rem; font-weight:700; line-height:100%;}
footer .icon-menu {display:flex; flex-wrap:wrap; justify-content: center; width:19.1rem; margin:0 auto 7.5rem; background:url('../images/img_info.png') no-repeat 50% 0; background-size: 19.1rem auto;}
footer .icon-menu a {width:33.3%; height:6.5rem; margin-bottom:1rem; text-indent:-999px; overflow:hidden; flex-grow: 0; flex-shrink: 0;}
footer .logo { height:2.3rem; background:url('../images/logo.png') no-repeat 50% 50%; text-indent:-999px; overflow:hidden; background-size: 11rem auto;}




